.serverError {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #060606;
    height: 100vh;
    width: 100%;
  }
  
  .error-image {
    height: 7em;
  }

  .error-message {
    text-align: center;
  }
  
  .return-button {
    border-radius: 8%;
    height: 3em;
    width: 8em;
    background: linear-gradient(90deg, rgb(81, 112, 255, .4) 0%, rgb(255, 102, 196, .4) 100%) 0px 0px / 100% 100%;
    border: none;
    color: white;
    font-weight: bolder;
  }
  
  .return-button:hover {
    background: linear-gradient(-90deg, rgb(81, 112, 255, .4) 0%, rgb(255, 102, 196, .4) 100%) 0px 0px / 100% 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }