.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.loading-text {
    font-weight: bolder;
    font-size: 2em;
    background: -webkit-linear-gradient(90deg, rgb(81, 112, 255), rgb(255, 102, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-text-stroke: .2px black;
    text-stroke: .2px black;
}